$blue: #0075ff;
$blue-alt: #0d69d5;
$orange: #f59e0b;
$green: #22c55e;
$red: #f44336;
$grey: #888;

$themes: (
  "blue": #0075ff,
  "blue-alt": #0d69d5,
  "orange": #f59e0b,
  "green": #22c55e,
  "red": #f44336,
  "grey": #888,
);

@each $theme, $color in $themes {
  .#{$theme} {
    color: $color;
  }
  .#{$theme}-bg {
    background-color: $color;
  }
}
